@import "tailwindcss";

@theme {
  /* Fonts */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  /* Colors */

  /* Light Pitt */
  --color-pitt-blue: #003594;
  --color-pitt-gold: #FFB81C;

  /* Dark Pitt */
  --color-pitt-navy: #00205B;
  --color-pitt-bronze: #B87333;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

* {
  transition-property: color, background-color;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}
